In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import datetime

In [116]:
catBank = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\CatBanco.csv")
catEmisora = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\CatEmisora.csv")
catRespuesta = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\CatRespuestaBancos.csv")
listCobro = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\ListaCobro.csv")
listCobro2022 = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\ListaCobroDetalle2022.csv")
listCobro2023 = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\ListaCobroDetalle2023.csv")
listCobro202 = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\ListaCobroDetalle2024.csv")
listCobro2024 = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\ListaCobroDetalle2025.csv")
listCobroEmisora = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\ListaCobroEmisora.csv")

C:\Users\jimen\AppData\Local\Temp\ipykernel_9392\3962552303.py:6: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  listCobro2023 = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\ListaCobroDetalle2023.csv")

In [117]:
listCobro.head()

   idListaCobro  fechaCreacionLista  idBanco fechaEnvioCobro
0         79678  04/01/2022 11:16AM       12      04/01/2022
1         79746   04/01/2022 6:36PM       12      04/01/2022
2         80111   11/01/2022 2:51PM       12      11/01/2022
3         80314  13/01/2022 11:44AM       12      13/01/2022
4         80507   14/01/2022 6:09PM       12      14/01/2022

In [118]:
listCobro2024.head()

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco
0,155938,738973,41396434,2,622.87,622.87,0.00,NaN,4.0
1,155938,739017,41396435,2,1069.11,1069.11,0.00,NaN,4.0
2,155939,739185,41396436,2,4340.83,4340.83,4340.83,02/01/2025,0.0
3,155940,732324,41396437,2,2134.21,2134.21,0.00,NaN,4.0
4,155940,737028,41396438,2,815.76,815.76,0.00,NaN,4.0

In [119]:
listCobro2024 = listCobro2024.drop(columns={"idBanco"})
df2024 = listCobro2024.merge(listCobro, on="idListaCobro", how="left")
df2024

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,fechaEnvioCobro
0,155938,738973,41396434,622.87,622.87,0.00,NaN,4.0,02/01/2025 6:11AM,2,02/01/2025
1,155938,739017,41396435,1069.11,1069.11,0.00,NaN,4.0,02/01/2025 6:11AM,2,02/01/2025
2,155939,739185,41396436,4340.83,4340.83,4340.83,02/01/2025,0.0,02/01/2025 6:11AM,2,02/01/2025
3,155940,732324,41396437,2134.21,2134.21,0.00,NaN,4.0,02/01/2025 6:12AM,2,02/01/2025
4,155940,737028,41396438,815.76,815.76,0.00,NaN,4.0,02/01/2025 6:12AM,2,02/01/2025
...,...,...,...,...,...,...,...,...,...,...,...
2114167,162271,741795,44299050,980.32,980.32,0.00,NaN,4.0,22/05/2025 12:10PM,2,22/05/2025
2114168,162271,741795,44299051,1633.86,1633.86,0.00,NaN,4.0,22/05/2025 12:10PM,2,22/05/2025
2114169,162271,742470,44299052,810.44,810.44,0.00,NaN,4.0,22/05/2025 12:10PM,2,22/05/2025
2114170,162271,742470,44299053,1350.74,1350.74,0.00,NaN,4.0,22/05/2025 12:10PM,2,22/05/2025
2114171,162271,742470,44299054,540.30,540.30,0.00,NaN,4.0,22/05/2025 12:10PM,2,22/05/2025

In [120]:
dfBanorte2024 = df2024[df2024["idBanco"] == 72]
dfSantander2024 = df2024[df2024["idBanco"] == 14]
dfBBVA2024 = df2024[df2024["idBanco"] == 12]
dfBanamex2024 = df2024[df2024["idBanco"] == 2]

In [121]:
dfBanorte2024["idRespuestaBanco"] =dfBanorte2024["idRespuestaBanco"].fillna(0.0)
dfBanorte2024.isna().sum()

C:\Users\jimen\AppData\Local\Temp\ipykernel_9392\2018960037.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfBanorte2024["idRespuestaBanco"] =dfBanorte2024["idRespuestaBanco"].fillna(0.0)

idListaCobro              0
idCredito                 0
consecutivoCobro          0
montoExigible             0
montoCobrar               0
montoCobrado              0
fechaCobroBanco       49337
idRespuestaBanco          0
fechaCreacionLista        0
idBanco                   0
fechaEnvioCobro           0
dtype: int64

In [122]:
dfBanorte2024[dfBanorte2024["montoExigible"] != dfBanorte2024["montoCobrado"]].value_counts()

idListaCobro  idCredito  consecutivoCobro  montoExigible  montoCobrar  montoCobrado  fechaCobroBanco  idRespuestaBanco  fechaCreacionLista  idBanco  fechaEnvioCobro
156938        713716     41751562          713.28         713.28       588.28        12/02/2025       0.0               27/01/2025 5:37AM   72       27/01/2025         1
157508        681414     42071885          636.13         636.13       381.68        12/02/2025       0.0               05/02/2025 10:51AM  72       05/02/2025         1
              703264     42071764          878.00         878.00       1755.99       12/02/2025       0.0               05/02/2025 10:51AM  72       05/02/2025         1
              705085     42071829          321.93         321.93       128.77        12/02/2025       0.0               05/02/2025 10:51AM  72       05/02/2025         1
              713255     42071715          292.34         292.34       175.40        12/02/2025       0.0               05/02/2025 10:51AM  72       05/02/2025         1
              719217     42071643          1495.65        1495.65      2991.30       12/02/2025       0.0               05/02/2025 10:51AM  72       05/02/2025         1
157581        700024     42104329          1047.74        1047.74      523.87        12/02/2025       0.0               11/02/2025 5:06AM   72       11/02/2025         1
              711539     42104220          928.67         928.67       464.34        12/02/2025       0.0               11/02/2025 5:06AM   72       11/02/2025         1
              722062     42104348          460.07         460.07       230.04        12/02/2025       0.0               11/02/2025 5:06AM   72       11/02/2025         1
              731783     42104205          877.06         877.06       438.53        12/02/2025       0.0               11/02/2025 5:06AM   72       11/02/2025         1
              740956     42104210          2803.74        2803.74      1401.87       12/02/2025       0.0               11/02/2025 5:06AM   72       11/02/2025         1
157587        723155     42111045          492.84         492.84       1232.13       12/02/2025       0.0               11/02/2025 5:13AM   72       11/02/2025         1
              724161     42111385          431.98         431.98       719.96        12/02/2025       0.0               11/02/2025 5:13AM   72       11/02/2025         1
157650        587712     42166922          270.37         270.37       162.22        12/02/2025       0.0               12/02/2025 5:06AM   72       12/02/2025         1
              651044     42166611          317.85         317.85       190.71        12/02/2025       0.0               12/02/2025 5:06AM   72       12/02/2025         1
              653851     42167100          251.23         251.23       150.74        12/02/2025       0.0               12/02/2025 5:06AM   72       12/02/2025         1
              664252     42167025          701.17         701.17       420.70        12/02/2025       0.0               12/02/2025 5:06AM   72       12/02/2025         1
              702468     42167257          762.16         762.16       457.30        12/02/2025       0.0               12/02/2025 5:06AM   72       12/02/2025         1
              718502     42166737          585.33         585.33       234.13        12/02/2025       0.0               12/02/2025 5:06AM   72       12/02/2025         1
157654        635531     42168754          174.87         174.87       69.95         12/02/2025       0.0               12/02/2025 5:13AM   72       12/02/2025         1
              654046     42168803          424.09         424.09       254.45        12/02/2025       0.0               12/02/2025 5:13AM   72       12/02/2025         1
              657534     42168696          935.11         935.11       374.04        12/02/2025       0.0               12/02/2025 5:13AM   72       12/02/2025         1
              679090     42168697          328.86         328.86       197.31        12/02/2025       0.0               12/02/2025 5:13AM   72       12/02/2025         1
161731        676737     44057522          665.05         665.05       332.53        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              691555     44057268          1094.14        1094.14      547.07        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              703215     44057593          1638.93        1638.93      819.47        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              715218     44058032          3075.33        3075.33      1537.67       12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              716334     44057406          2897.39        2897.39      1448.70       12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              723765     44057408          1394.26        1394.26      697.13        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              724983     44057271          1873.06        1873.06      936.53        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              725226     44057182          877.41         877.41       438.71        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              726026     44057410          2881.02        2881.02      1440.51       12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              732794     44057219          709.48         709.48       354.74        11/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              737732     44057306          1767.12        1767.12      883.56        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              739418     44057362          667.75         667.75       333.88        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              740373     44057222          1093.08        1093.08      546.54        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              741247     44057599          838.11         838.11       419.06        11/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              741596     44057600          1661.99        1661.99      831.00        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              742245     44057197          858.11         858.11       429.06        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              742805     44057508          964.22         964.22       482.11        10/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              743023     44057475          918.97         918.97       459.49        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              746036     44057423          580.78         580.78       290.39        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              747694     44057537          1309.55        1309.55      654.78        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              748059     44057574          959.94         959.94       479.97        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              748541     44057366          1834.64        1834.64      917.32        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              749000     44057481          353.01         353.01       176.51        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              750449     44057314          982.17         982.17       491.09        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
              752939     44057544          1499.03        1499.03      749.52        12/05/2025       0.0               12/05/2025 5:04AM   72       12/05/2025         1
Name: count, dtype: int64

In [123]:
dfSantander2024.isna().sum()

idListaCobro              0
idCredito                 0
consecutivoCobro          0
montoExigible             0
montoCobrar               0
montoCobrado              0
fechaCobroBanco       28117
idRespuestaBanco        202
fechaCreacionLista        0
idBanco                   0
fechaEnvioCobro           0
dtype: int64

In [124]:
dfSantander2024["idRespuestaBanco"] = dfSantander2024["idRespuestaBanco"].fillna(13)

C:\Users\jimen\AppData\Local\Temp\ipykernel_9392\248686460.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfSantander2024["idRespuestaBanco"] = dfSantander2024["idRespuestaBanco"].fillna(13)

In [125]:
dfBBVA2024.isna().sum()

idListaCobro                0
idCredito                   0
consecutivoCobro            0
montoExigible               0
montoCobrar                 0
montoCobrado                0
fechaCobroBanco       1159155
idRespuestaBanco         2830
fechaCreacionLista          0
idBanco                     0
fechaEnvioCobro             0
dtype: int64

In [126]:
dfBBVA2024[dfBBVA2024["idRespuestaBanco"].isnull()]

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,fechaEnvioCobro
202828,156642,127335,41667313,282.66,282.66,0.0,NaN,NaN,15/01/2025 10:56AM,12,15/01/2025
202831,156642,155407,41665494,207.80,207.80,0.0,NaN,NaN,15/01/2025 10:56AM,12,15/01/2025
202832,156642,155407,41666299,519.50,519.50,0.0,NaN,NaN,15/01/2025 10:56AM,12,15/01/2025
202833,156642,155407,41666300,311.70,311.70,0.0,NaN,NaN,15/01/2025 10:56AM,12,15/01/2025
202834,156642,163958,41665436,542.32,542.32,0.0,NaN,NaN,15/01/2025 10:56AM,12,15/01/2025
...,...,...,...,...,...,...,...,...,...,...,...
2111660,162220,466479,44281079,782.53,782.53,0.0,NaN,NaN,20/05/2025 2:27PM,12,20/05/2025
2111661,162220,475597,44281082,375.50,375.50,0.0,NaN,NaN,20/05/2025 2:27PM,12,20/05/2025
2111662,162220,481269,44281080,782.53,782.53,0.0,NaN,NaN,20/05/2025 2:27PM,12,20/05/2025
2111663,162220,482633,44281084,527.17,527.17,0.0,NaN,NaN,20/05/2025 2:27PM,12,20/05/2025
2111664,162220,489813,44281081,973.54,973.54,0.0,NaN,NaN,20/05/2025 2:27PM,12,20/05/2025

In [127]:
dfBBVA2024[(dfBBVA2024["idRespuestaBanco"].isnull()) & (dfBBVA2024["montoCobrado"] != 0.0)]

Empty DataFrame
Columns: [idListaCobro, idCredito, consecutivoCobro, montoExigible, montoCobrar, montoCobrado, fechaCobroBanco, idRespuestaBanco, fechaCreacionLista, idBanco, fechaEnvioCobro]
Index: []

In [128]:
dfBanamex2024.isna().sum()

idListaCobro               0
idCredito                  0
consecutivoCobro           0
montoExigible              0
montoCobrar                0
montoCobrado               0
fechaCobroBanco       789275
idRespuestaBanco           0
fechaCreacionLista         0
idBanco                    0
fechaEnvioCobro            0
dtype: int64

In [129]:
dfBanamex2024[(dfBanamex2024["idRespuestaBanco"].isnull())]

Empty DataFrame
Columns: [idListaCobro, idCredito, consecutivoCobro, montoExigible, montoCobrar, montoCobrado, fechaCobroBanco, idRespuestaBanco, fechaCreacionLista, idBanco, fechaEnvioCobro]
Index: []

In [130]:
dfBanamex2024["idRespuestaBanco"] = dfBanamex2024["idRespuestaBanco"].fillna(13)

C:\Users\jimen\AppData\Local\Temp\ipykernel_9392\3263804002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfBanamex2024["idRespuestaBanco"] = dfBanamex2024["idRespuestaBanco"].fillna(13)

In [131]:
dfBanorte2024

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,fechaEnvioCobro
139,155949,490364,41397756,223.46,223.46,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025
140,155949,664252,41397758,701.17,701.17,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025
141,155949,709872,41397759,1583.75,1583.75,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025
142,155949,712926,41397757,1203.89,1203.89,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025
252,155954,425211,41398015,486.77,486.77,0.0,NaN,4.0,02/01/2025 8:59AM,72,02/01/2025
...,...,...,...,...,...,...,...,...,...,...,...
2109979,162201,754625,44267142,426.30,426.30,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025
2109980,162201,754711,44267264,409.73,409.73,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025
2109981,162201,754899,44267255,553.76,553.76,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025
2109982,162201,755181,44267062,575.73,575.73,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025
2109983,162201,755350,44267257,608.86,608.86,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025

In [132]:
dfBanorte2024Cost =dfBanorte2024.merge(listCobroEmisora, on="idListaCobro", how="left")
dfBanorte2024Cost["count"] = 1
dfBanorte2024Cost

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,fechaEnvioCobro,idEmisora,count
0,155949,490364,41397756,223.46,223.46,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025,12,1
1,155949,664252,41397758,701.17,701.17,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025,12,1
2,155949,709872,41397759,1583.75,1583.75,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025,12,1
3,155949,712926,41397757,1203.89,1203.89,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025,12,1
4,155954,425211,41398015,486.77,486.77,0.0,NaN,4.0,02/01/2025 8:59AM,72,02/01/2025,13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72235,162201,754625,44267142,426.30,426.30,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025,12,1
72236,162201,754711,44267264,409.73,409.73,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025,12,1
72237,162201,754899,44267255,553.76,553.76,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025,12,1
72238,162201,755181,44267062,575.73,575.73,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025,12,1
72239,162201,755350,44267257,608.86,608.86,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025,12,1

In [133]:
dfBanorte2024Cost = dfBanorte2024Cost.merge(catEmisora, on="idEmisora", how="left")
dfBanorte2024Cost = dfBanorte2024Cost.drop(columns={"IdBanco"})
dfBanorte2024Cost.columns

Index(['idListaCobro', 'idCredito', 'consecutivoCobro', 'montoExigible',
       'montoCobrar', 'montoCobrado', 'fechaCobroBanco', 'idRespuestaBanco',
       'fechaCreacionLista', 'idBanco', 'fechaEnvioCobro', 'idEmisora',
       'count', 'Nombre', 'Emisora', 'TipoEnvio', 'Costo',
       'Horario Limite Carga', 'Horario de cobro', 'observaciones'],
      dtype='object')

In [134]:
dfBanorte2024Cost

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,fechaEnvioCobro,idEmisora,count,Nombre,Emisora,TipoEnvio,Costo,Horario Limite Carga,Horario de cobro,observaciones
0,155949,490364,41397756,223.46,223.46,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025,12,1,BANORTE CLABE TRADICIONAL,00496,TRADICIONAL,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days
1,155949,664252,41397758,701.17,701.17,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025,12,1,BANORTE CLABE TRADICIONAL,00496,TRADICIONAL,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days
2,155949,709872,41397759,1583.75,1583.75,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025,12,1,BANORTE CLABE TRADICIONAL,00496,TRADICIONAL,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days
3,155949,712926,41397757,1203.89,1203.89,0.0,NaN,4.0,02/01/2025 8:48AM,72,02/01/2025,12,1,BANORTE CLABE TRADICIONAL,00496,TRADICIONAL,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days
4,155954,425211,41398015,486.77,486.77,0.0,NaN,4.0,02/01/2025 8:59AM,72,02/01/2025,13,1,BANORTE CUENTA TRADICIONAL,00496,TRADICIONAL,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72235,162201,754625,44267142,426.30,426.30,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025,12,1,BANORTE CLABE TRADICIONAL,00496,TRADICIONAL,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days
72236,162201,754711,44267264,409.73,409.73,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025,12,1,BANORTE CLABE TRADICIONAL,00496,TRADICIONAL,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days
72237,162201,754899,44267255,553.76,553.76,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025,12,1,BANORTE CLABE TRADICIONAL,00496,TRADICIONAL,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days
72238,162201,755181,44267062,575.73,575.73,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025,12,1,BANORTE CLABE TRADICIONAL,00496,TRADICIONAL,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days
72239,162201,755350,44267257,608.86,608.86,0.0,NaN,4.0,20/05/2025 10:50AM,72,20/05/2025,12,1,BANORTE CLABE TRADICIONAL,00496,TRADICIONAL,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days

In [135]:
dfBanorte2024Cost["fechaEnvioCobro"] = pd.to_datetime(dfBanorte2024Cost["fechaEnvioCobro"], errors='coerce')
dfBanorte2024Cost["month"] = dfBanorte2024Cost["fechaEnvioCobro"].dt.month

In [136]:
dfBanorteSummary = dfBanorte2024Cost.groupby(["month", "idRespuestaBanco"], as_index=False).agg({
    "montoExigible": "sum",
    "montoCobrar": 'sum',
    'montoCobrado': 'sum', 
    "count":"count",
    "Costo":"sum",
    "month":"first",
})
dfBanorteSummary

,idRespuestaBanco,montoExigible,montoCobrar,montoCobrado,count,Costo,month
0,0.0,17820.43,17820.43,17820.43,16,40.0,1.0
1,3.0,1705.62,1705.62,0.00,3,7.5,1.0
2,4.0,29277.24,29277.24,0.00,40,100.0,1.0
3,0.0,40286.85,40286.85,40286.85,44,110.0,2.0
4,3.0,2036.94,2036.94,0.00,4,10.0,2.0
5,4.0,187573.71,187573.71,0.00,271,677.5,2.0
6,0.0,153057.99,153057.99,153057.99,199,497.5,3.0
7,3.0,592.07,592.07,0.00,1,2.5,3.0
8,4.0,198028.59,198028.59,0.00,319,797.5,3.0
9,0.0,6286.48,6286.48,6286.48,2,5.0,4.0
10,4.0,11707.48,11707.48,0.00,14,35.0,4.0
11,0.0,122998.60,122998.60,124807.69,170,425.0,5.0
12,3.0,622.04,622.04,0.00,1,2.5,5.0
13,4.0,477085.26,477085.26,0.00,676,1690.0,5.0
14,26.0,2446.98,2446.98,0.00,3,7.5,5.0
15,0.0,31100.39,31100.39,31100.39,22,55.0,6.0
16,4.0,37809.70,37809.70,0.00,57,142.5,6.0
17,4.0,9832.89,9832.89,0.00,10,25.0,7.0
18,0.0,100882.67,100882.67,100882.67,101,252.5,8.0
19,4.0,54832.10,54832.10,0.00,116,290.0,8.0
20,26.0,643.86,643.86,0.00,1,2.5,8.0
21,30.0,1414.40,1414.40,0.00,6,15.0,8.0
22,0.0,743.71,743.71,743.71,2,5.0,9.0
23,4.0,14899.84,14899.84,0.00,24,60.0,9.0
24,30.0,707.20,707.20,0.00,2,5.0,9.0
25,0.0,4396950.67,4396950.67,4396950.67,5181,12952.5,10.0
26,1.0,1078.10,1078.10,0.00,1,2.5,10.0
27,2.0,764.67,764.67,0.00,1,2.5,10.0
28,3.0,19261.57,19261.57,0.00,16,40.0,10.0
29,4.0,5426696.92,5426696.92,0.00,8113,20282.5,10.0
30,26.0,156743.13,156743.13,0.00,192,480.0,10.0
31,30.0,21594.81,21594.81,0.00,15,37.5,10.0
32,88.0,11635.62,11635.62,0.00,2,5.0,10.0
33,0.0,4654640.92,4654640.92,4652609.56,5186,12965.0,11.0
34,1.0,11999.53,11999.53,0.00,5,12.5,11.0
35,3.0,78728.74,78728.74,0.00,54,135.0,11.0
36,4.0,6039540.57,6039540.57,0.00,9464,23660.0,11.0
37,26.0,188791.01,188791.01,0.00,145,362.5,11.0
38,30.0,10261.33,10261.33,0.00,10,25.0,11.0
39,88.0,1918.13,1918.13,0.00,2,5.0,11.0
40,0.0,2607539.57,2607539.57,2151164.78,3221,8052.5,12.0
41,3.0,24596.25,24596.25,0.00,14,35.0,12.0
42,4.0,3791400.14,3791400.14,0.00,5750,14375.0,12.0
43,26.0,78336.05,78336.05,0.00,77,192.5,12.0
44,30.0,15471.52,15471.52,0.00,15,37.5,12.0

In [137]:
dfBanamex2024Cost =dfBanamex2024.merge(listCobroEmisora, on="idListaCobro", how="left")
dfBanamex2024Cost["count"] = 1
dfBanamex2024Cost = dfBanamex2024Cost.merge(catEmisora, on="idEmisora", how="left")
dfBanamex2024Cost = dfBanamex2024Cost.drop(columns={"IdBanco"})
dfBanamex2024Cost["fechaEnvioCobro"] = pd.to_datetime(dfBanamex2024Cost["fechaEnvioCobro"], errors='coerce')
dfBanamex2024Cost["month"] = dfBanamex2024Cost["fechaEnvioCobro"].dt.month
dfBanamex2024Cost

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,idEmisora,count,Nombre,Emisora,TipoEnvio,Costo,Horario Limite Carga,Horario de cobro,observaciones,month
0,155938,738973,41396434,622.87,622.87,0.00,NaN,4.0,02/01/2025 6:11AM,2,...,5,1,BANAMEX TRADICIONAL REINTENTO,NoAplica,TRADICIONAL,1.75,8:00 - 14:59,8:00 - 15:00,30 min,2.0
1,155938,739017,41396435,1069.11,1069.11,0.00,NaN,4.0,02/01/2025 6:11AM,2,...,5,1,BANAMEX TRADICIONAL REINTENTO,NoAplica,TRADICIONAL,1.75,8:00 - 14:59,8:00 - 15:00,30 min,2.0
2,155939,739185,41396436,4340.83,4340.83,4340.83,02/01/2025,0.0,02/01/2025 6:11AM,2,...,5,1,BANAMEX TRADICIONAL REINTENTO,NoAplica,TRADICIONAL,1.75,8:00 - 14:59,8:00 - 15:00,30 min,2.0
3,155940,732324,41396437,2134.21,2134.21,0.00,NaN,4.0,02/01/2025 6:12AM,2,...,5,1,BANAMEX TRADICIONAL REINTENTO,NoAplica,TRADICIONAL,1.75,8:00 - 14:59,8:00 - 15:00,30 min,2.0
4,155940,737028,41396438,815.76,815.76,0.00,NaN,4.0,02/01/2025 6:12AM,2,...,5,1,BANAMEX TRADICIONAL REINTENTO,NoAplica,TRADICIONAL,1.75,8:00 - 14:59,8:00 - 15:00,30 min,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804999,162271,741795,44299050,980.32,980.32,0.00,NaN,4.0,22/05/2025 12:10PM,2,...,5,1,BANAMEX TRADICIONAL REINTENTO,NoAplica,TRADICIONAL,1.75,8:00 - 14:59,8:00 - 15:00,30 min,NaN
805000,162271,741795,44299051,1633.86,1633.86,0.00,NaN,4.0,22/05/2025 12:10PM,2,...,5,1,BANAMEX TRADICIONAL REINTENTO,NoAplica,TRADICIONAL,1.75,8:00 - 14:59,8:00 - 15:00,30 min,NaN
805001,162271,742470,44299052,810.44,810.44,0.00,NaN,4.0,22/05/2025 12:10PM,2,...,5,1,BANAMEX TRADICIONAL REINTENTO,NoAplica,TRADICIONAL,1.75,8:00 - 14:59,8:00 - 15:00,30 min,NaN
805002,162271,742470,44299053,1350.74,1350.74,0.00,NaN,4.0,22/05/2025 12:10PM,2,...,5,1,BANAMEX TRADICIONAL REINTENTO,NoAplica,TRADICIONAL,1.75,8:00 - 14:59,8:00 - 15:00,30 min,NaN
805003,162271,742470,44299054,540.30,540.30,0.00,NaN,4.0,22/05/2025 12:10PM,2,...,5,1,BANAMEX TRADICIONAL REINTENTO,NoAplica,TRADICIONAL,1.75,8:00 - 14:59,8:00 - 15:00,30 min,NaN

In [138]:
dfBanamexSummary = dfBanamex2024Cost.groupby(["month", "idRespuestaBanco"], as_index=False).agg({
    "montoExigible": "sum",
    "montoCobrar": 'sum',
    'montoCobrado': 'sum', 
    "count":"count",
    "Costo":"sum",
    "month":"first",
})
dfBanamexSummary

,idRespuestaBanco,montoExigible,montoCobrar,montoCobrado,count,Costo,month
0,0.0,127827.46,127827.46,127827.46,186,325.50,1.0
1,2.0,318.07,318.07,0.00,1,1.75,1.0
2,4.0,2985728.15,2985728.15,0.00,6157,10774.75,1.0
3,0.0,138383.48,138383.48,138383.48,202,353.50,2.0
4,2.0,5589.11,5589.11,0.00,12,21.00,2.0
5,4.0,4851043.37,4851043.37,0.00,7946,13905.50,2.0
6,8.0,6082.57,6082.57,0.00,11,19.25,2.0
7,0.0,131648.75,131648.75,131648.75,190,332.50,3.0
8,2.0,3536.58,3536.58,0.00,6,10.50,3.0
9,3.0,1349.85,1349.85,0.00,3,5.25,3.0
10,4.0,3529530.17,3529530.17,0.00,5552,9716.00,3.0
11,8.0,769.26,769.26,0.00,3,5.25,3.0
12,0.0,201555.82,201555.82,201555.82,190,332.50,4.0
13,2.0,2146.92,2146.92,0.00,3,5.25,4.0
14,3.0,449.95,449.95,0.00,1,1.75,4.0
15,4.0,3683701.55,3683701.55,0.00,6216,10878.00,4.0
16,8.0,2196.79,2196.79,0.00,5,8.75,4.0
17,0.0,202517.39,202517.39,202517.39,83,145.25,5.0
18,2.0,16697.89,16697.89,0.00,20,35.00,5.0
19,4.0,2434873.70,2434873.70,0.00,3527,6172.25,5.0
20,0.0,108929.21,108929.21,108929.21,47,82.25,6.0
21,2.0,4902.78,4902.78,0.00,6,10.50,6.0
22,4.0,1410753.30,1410753.30,0.00,1642,2873.50,6.0
23,0.0,48518.94,48518.94,48518.94,41,71.75,7.0
24,4.0,902157.06,902157.06,0.00,1143,2000.25,7.0
25,0.0,25671.43,25671.43,25671.43,25,43.75,8.0
26,2.0,936.53,936.53,0.00,1,1.75,8.0
27,4.0,1372649.10,1372649.10,0.00,2154,3769.50,8.0
28,8.0,601.49,601.49,0.00,1,1.75,8.0
29,0.0,53636.85,53636.85,53636.85,39,68.25,9.0
30,2.0,1597.95,1597.95,0.00,3,5.25,9.0
31,4.0,1471514.89,1471514.89,0.00,2487,4352.25,9.0
32,0.0,799054.55,799054.55,799054.55,900,1575.00,10.0
33,1.0,742.79,742.79,0.00,2,3.50,10.0
34,2.0,5207.39,5207.39,0.00,5,8.75,10.0
35,3.0,1822.02,1822.02,0.00,3,5.25,10.0
36,4.0,20362720.02,20362720.02,0.00,27871,48774.25,10.0
37,8.0,31669.05,31669.05,0.00,52,91.00,10.0
38,0.0,1187245.73,1187245.73,1187245.73,1186,2075.50,11.0
39,1.0,1607.99,1607.99,0.00,2,3.50,11.0
40,2.0,11833.61,11833.61,0.00,19,33.25,11.0
41,3.0,3832.61,3832.61,0.00,7,12.25,11.0
42,4.0,31309140.81,31309140.81,0.00,49430,86502.50,11.0
43,8.0,8620.24,8620.24,0.00,12,21.00,11.0
44,0.0,725719.09,725719.09,725719.09,851,1489.25,12.0
45,2.0,8860.75,8860.75,0.00,9,15.75,12.0
46,3.0,4748.64,4748.64,0.00,5,8.75,12.0
47,4.0,34503704.00,34503704.00,0.00,53989,94480.75,12.0
48,8.0,12992.86,12992.86,0.00,20,35.00,12.0

In [139]:
dfBBVA2024 =dfBBVA2024.merge(listCobroEmisora, on="idListaCobro", how="left")
dfBBVA2024["count"] = 1

In [140]:
dfBBVA2024Good = dfBBVA2024[dfBBVA2024["idRespuestaBanco"] == 0.0]
dfBBVA2024Bad = dfBBVA2024[dfBBVA2024["idRespuestaBanco"] != 0.0]
dfBBVA2024Good =dfBBVA2024Good.merge(catEmisora, on="idEmisora", how="left")
dfBBVA2024Bad =dfBBVA2024Bad.merge(catEmisora, on="idEmisora", how="left")
dfBBVA2024Bad["Costo"] = 0
dfBBVA2024Cost = pd.concat([dfBBVA2024Good, dfBBVA2024Bad], ignore_index=True)
dfBBVA2024Good

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,idEmisora,count,Nombre,IdBanco,Emisora,TipoEnvio,Costo,Horario Limite Carga,Horario de cobro,observaciones
0,155947,739598,41397720,1782.90,1782.90,1782.90,02/01/2025,0.0,02/01/2025 8:20AM,12,...,21,1,BBVA CLABE EN LINEA,12,07455,EN LINEA,4.0,6:00 - 20:15,6:00 - 20:15,30 min
1,155950,661415,41397842,391.26,391.26,391.26,02/01/2025,0.0,02/01/2025 8:54AM,12,...,21,1,BBVA CLABE EN LINEA,12,07455,EN LINEA,4.0,6:00 - 20:15,6:00 - 20:15,30 min
2,155988,405159,41402462,450.91,450.91,450.91,02/01/2025,0.0,02/01/2025 10:51AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days
3,156003,379056,41402809,370.00,370.00,370.00,03/01/2025,0.0,02/01/2025 1:17PM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days
4,156003,409753,41402816,649.59,649.59,649.59,03/01/2025,0.0,02/01/2025 1:17PM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32867,162232,712253,44282581,137.69,137.69,137.69,22/05/2025,0.0,21/05/2025 8:57AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days
32868,162232,714046,44282595,948.54,948.54,948.54,22/05/2025,0.0,21/05/2025 8:57AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days
32869,162232,734228,44281582,123.79,123.79,123.79,22/05/2025,0.0,21/05/2025 8:57AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days
32870,162232,736792,44281618,150.21,150.21,150.21,22/05/2025,0.0,21/05/2025 8:57AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days
32871,162234,133936,44282752,134.60,134.60,134.60,22/05/2025,0.0,21/05/2025 9:00AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days

In [141]:
dfBBVA2024Cost[dfBBVA2024Cost["Costo"] == 0]

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,idEmisora,count,Nombre,IdBanco,Emisora,TipoEnvio,Costo,Horario Limite Carga,Horario de cobro,observaciones
32872,155950,83373,41397840,508.31,508.31,0.0,NaN,4.0,02/01/2025 8:54AM,12,...,21,1,BBVA CLABE EN LINEA,12,07455,EN LINEA,0.0,6:00 - 20:15,6:00 - 20:15,30 min
32873,155950,127335,41397855,706.66,706.66,0.0,NaN,4.0,02/01/2025 8:54AM,12,...,21,1,BBVA CLABE EN LINEA,12,07455,EN LINEA,0.0,6:00 - 20:15,6:00 - 20:15,30 min
32874,155950,155407,41397788,519.50,519.50,0.0,NaN,4.0,02/01/2025 8:54AM,12,...,21,1,BBVA CLABE EN LINEA,12,07455,EN LINEA,0.0,6:00 - 20:15,6:00 - 20:15,30 min
32875,155950,163958,41397780,542.32,542.32,0.0,NaN,4.0,02/01/2025 8:54AM,12,...,21,1,BBVA CLABE EN LINEA,12,07455,EN LINEA,0.0,6:00 - 20:15,6:00 - 20:15,30 min
32876,155950,290264,41397795,854.20,854.20,0.0,NaN,4.0,02/01/2025 8:54AM,12,...,21,1,BBVA CLABE EN LINEA,12,07455,EN LINEA,0.0,6:00 - 20:15,6:00 - 20:15,30 min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192022,162234,416184,44282768,268.15,268.15,0.0,NaN,4.0,21/05/2025 9:00AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,0.0,8:00 - 15:30,3:00,6 days
1192023,162234,524583,44282769,756.66,756.66,0.0,NaN,4.0,21/05/2025 9:00AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,0.0,8:00 - 15:30,3:00,6 days
1192024,162234,524583,44282770,1261.10,1261.10,0.0,NaN,4.0,21/05/2025 9:00AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,0.0,8:00 - 15:30,3:00,6 days
1192025,162234,524583,44282771,504.44,504.44,0.0,NaN,4.0,21/05/2025 9:00AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,12,REINTENTO,TRADICIONAL,0.0,8:00 - 15:30,3:00,6 days
1192026,162241,752266,44282961,1219.25,1219.25,0.0,NaN,4.0,21/05/2025 9:19AM,12,...,21,1,BBVA CLABE EN LINEA,12,07455,EN LINEA,0.0,6:00 - 20:15,6:00 - 20:15,30 min

In [142]:
#dfBBVA2024Cost =dfBBVA2024.merge(listCobroEmisora, on="idListaCobro", how="left")
#dfBBVA2024Cost["count"] = 1
#dfBBVA2024Cost = dfBBVA2024Cost.merge(catEmisora, on="idEmisora", how="left")
dfBBVA2024Cost = dfBBVA2024Cost.drop(columns={"IdBanco"})
dfBBVA2024Cost["fechaEnvioCobro"] = pd.to_datetime(dfBBVA2024Cost["fechaEnvioCobro"], errors='coerce')
dfBBVA2024Cost["month"] = dfBBVA2024Cost["fechaEnvioCobro"].dt.month
#dfBBVA2024Cost["Costo"] = dfBBVA2024Cost["idRespuestaBanco"].apply(lambda respuesta: 0 if not 0.0 in respuesta else pass)
dfBBVA2024Cost

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,idEmisora,count,Nombre,Emisora,TipoEnvio,Costo,Horario Limite Carga,Horario de cobro,observaciones,month
0,155947,739598,41397720,1782.90,1782.90,1782.90,02/01/2025,0.0,02/01/2025 8:20AM,12,...,21,1,BBVA CLABE EN LINEA,07455,EN LINEA,4.0,6:00 - 20:15,6:00 - 20:15,30 min,2.0
1,155950,661415,41397842,391.26,391.26,391.26,02/01/2025,0.0,02/01/2025 8:54AM,12,...,21,1,BBVA CLABE EN LINEA,07455,EN LINEA,4.0,6:00 - 20:15,6:00 - 20:15,30 min,2.0
2,155988,405159,41402462,450.91,450.91,450.91,02/01/2025,0.0,02/01/2025 10:51AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days,2.0
3,156003,379056,41402809,370.00,370.00,370.00,03/01/2025,0.0,02/01/2025 1:17PM,12,...,6,1,BBVA TRADICIONAL REINTENTO,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days,2.0
4,156003,409753,41402816,649.59,649.59,649.59,03/01/2025,0.0,02/01/2025 1:17PM,12,...,6,1,BBVA TRADICIONAL REINTENTO,REINTENTO,TRADICIONAL,8.0,8:00 - 15:30,3:00,6 days,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192022,162234,416184,44282768,268.15,268.15,0.00,NaN,4.0,21/05/2025 9:00AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,REINTENTO,TRADICIONAL,0.0,8:00 - 15:30,3:00,6 days,NaN
1192023,162234,524583,44282769,756.66,756.66,0.00,NaN,4.0,21/05/2025 9:00AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,REINTENTO,TRADICIONAL,0.0,8:00 - 15:30,3:00,6 days,NaN
1192024,162234,524583,44282770,1261.10,1261.10,0.00,NaN,4.0,21/05/2025 9:00AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,REINTENTO,TRADICIONAL,0.0,8:00 - 15:30,3:00,6 days,NaN
1192025,162234,524583,44282771,504.44,504.44,0.00,NaN,4.0,21/05/2025 9:00AM,12,...,6,1,BBVA TRADICIONAL REINTENTO,REINTENTO,TRADICIONAL,0.0,8:00 - 15:30,3:00,6 days,NaN
1192026,162241,752266,44282961,1219.25,1219.25,0.00,NaN,4.0,21/05/2025 9:19AM,12,...,21,1,BBVA CLABE EN LINEA,07455,EN LINEA,0.0,6:00 - 20:15,6:00 - 20:15,30 min,NaN

In [143]:
dfBBVASummary = dfBBVA2024Cost.groupby(["month", "idRespuestaBanco"], as_index=False).agg({
    "montoExigible": "sum",
    "montoCobrar": 'sum',
    'montoCobrado': 'sum', 
    "count":"count",
    "Costo":"sum",
    "month":"first",
})
dfBBVASummary

,idRespuestaBanco,montoExigible,montoCobrar,montoCobrado,count,Costo,month
0,0.0,40987.38,40987.38,40987.38,38,300.0,1.0
1,1.0,6032.91,6032.91,0.00,9,0.0,1.0
2,2.0,881.15,881.15,0.00,2,0.0,1.0
3,4.0,1192627.65,1192627.65,0.00,1356,0.0,1.0
4,8.0,40847.07,40847.07,0.00,52,0.0,1.0
...,...,...,...,...,...,...,...
57,2.0,39596.11,39596.11,0.00,39,0.0,12.0
58,3.0,46858.29,46858.29,0.00,38,0.0,12.0
59,4.0,45113677.05,45113677.05,0.00,71546,0.0,12.0
60,8.0,52767.54,52767.54,0.00,50,0.0,12.0
61,13.0,360060.61,360060.61,0.00,688,0.0,12.0

In [144]:
dfSantander2024

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,fechaEnvioCobro
244,155951,366046,41397864,486.47,486.47,0.00,NaN,4.0,02/01/2025 8:56AM,14,02/01/2025
245,155951,427609,41397862,248.25,248.25,0.00,NaN,4.0,02/01/2025 8:56AM,14,02/01/2025
246,155951,683653,41397865,586.89,586.89,0.00,NaN,4.0,02/01/2025 8:56AM,14,02/01/2025
247,155951,686634,41397861,586.89,586.89,0.00,NaN,4.0,02/01/2025 8:56AM,14,02/01/2025
248,155951,689508,41397866,1242.71,1242.71,0.00,NaN,4.0,02/01/2025 8:56AM,14,02/01/2025
...,...,...,...,...,...,...,...,...,...,...,...
2105816,162150,754512,44254063,929.42,929.42,0.00,NaN,13.0,19/05/2025 10:12AM,14,19/05/2025
2105817,162150,754605,44253985,629.23,629.23,0.00,NaN,13.0,19/05/2025 10:12AM,14,19/05/2025
2105818,162150,755017,44254031,693.62,693.62,0.00,NaN,13.0,19/05/2025 10:12AM,14,19/05/2025
2105819,162150,755243,44253995,134.31,134.31,134.31,20/05/2025,0.0,19/05/2025 10:12AM,14,19/05/2025
2105820,162150,755255,44254070,752.15,752.15,0.00,NaN,13.0,19/05/2025 10:12AM,14,19/05/2025

In [145]:
dfSantander2024 = dfSantander2024.merge(listCobroEmisora, on="idListaCobro", how="left")
dfSantander2024["count"] = 1

In [146]:
sAcepted = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\SantanderAcepted.csv")
sRejected = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\SantanderRejected.csv")
sRejected

,idEmisora,Nombre,IdBanco,Emisora,TipoEnvio,Costo,Horario Limite Carga,Horario de cobro,observaciones
0,8,SANTANDER TRADICIONAL REINTENTO,14,REINTENTO,TRADICIONAL,1.42,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
1,9,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
2,10,SANTANDER CUENTA,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
3,11,SANTANDER CLABE INTERBANCARIO,14,00623,INTERBANCARIO,2.58,8:00 - 17:30,19:00 - 20:00,Next day
4,66,Santander Interbancario Cuenta Periodo Actual ...,14,00623,INTERBANCARIO,2.58,8:00 - 17:30,19:00 - 20:00,Next day
5,47,Santander Tradicional Cuenta Periodo Actual ...,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
6,68,Santander Excepciones Cuenta ...,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
7,35,Santander Reintentos ...,14,00623,REINTENTO,1.42,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
8,69,Santander Reintentos Cuenta ...,14,00623,REINTENTO,1.42,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
9,70,Santander Interbancario Cuenta Excepciones ...,14,00623,INTERBANCARIO,2.58,8:00 - 17:30,19:00 - 20:00,Next day

In [147]:
dfS2024Good = dfSantander2024[dfSantander2024["idRespuestaBanco"] == 0.0]
dfS2024Bad = dfSantander2024[dfSantander2024["idRespuestaBanco"] != 0.0]
dfS2024Good = dfS2024Good.merge(sAcepted, on="idEmisora", how="left")
dfS2024Bad = dfS2024Bad.merge(sRejected, on="idEmisora", how="left")
#dfS2024Bad["Costo"] = 0
dfS2024Cost = pd.concat([dfS2024Good, dfS2024Bad], ignore_index=True)
dfS2024Bad

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,idEmisora,count,Nombre,IdBanco,Emisora,TipoEnvio,Costo,Horario Limite Carga,Horario de cobro,observaciones
0,155951,366046,41397864,486.47,486.47,0.0,NaN,4.0,02/01/2025 8:56AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
1,155951,427609,41397862,248.25,248.25,0.0,NaN,4.0,02/01/2025 8:56AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
2,155951,683653,41397865,586.89,586.89,0.0,NaN,4.0,02/01/2025 8:56AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
3,155951,686634,41397861,586.89,586.89,0.0,NaN,4.0,02/01/2025 8:56AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
4,155951,689508,41397866,1242.71,1242.71,0.0,NaN,4.0,02/01/2025 8:56AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28112,162150,754406,44253987,971.65,971.65,0.0,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
28113,162150,754512,44254063,929.42,929.42,0.0,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
28114,162150,754605,44253985,629.23,629.23,0.0,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
28115,162150,755017,44254031,693.62,693.62,0.0,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
28116,162150,755255,44254070,752.15,752.15,0.0,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días

In [148]:
dfS2024Cost

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,idEmisora,count,Nombre,IdBanco,Emisora,TipoEnvio,Costo,Horario Limite Carga,Horario de cobro,observaciones
0,156075,659948,41419090,782.52,782.52,782.52,08/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
1,156075,662194,41419085,313.01,313.01,313.01,07/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
2,156075,677365,41419075,2826.13,2826.13,2826.13,09/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
3,156075,681542,41419078,2561.45,2561.45,2561.45,06/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
4,156075,686356,41419086,1280.64,1280.64,1280.64,06/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44896,162150,754406,44253987,971.65,971.65,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
44897,162150,754512,44254063,929.42,929.42,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
44898,162150,754605,44253985,629.23,629.23,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
44899,162150,755017,44254031,693.62,693.62,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días
44900,162150,755255,44254070,752.15,752.15,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,14,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días

In [149]:
dfS2024Cost = dfS2024Cost.drop(columns={"IdBanco"})
dfS2024Cost["fechaEnvioCobro"] = pd.to_datetime(dfS2024Cost["fechaEnvioCobro"], errors='coerce')
dfS2024Cost["month"] = dfS2024Cost["fechaEnvioCobro"].dt.month
#dfBBVA2024Cost["Costo"] = dfBBVA2024Cost["idRespuestaBanco"].apply(lambda respuesta: 0 if not 0.0 in respuesta else pass)
dfS2024Cost

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,idEmisora,count,Nombre,Emisora,TipoEnvio,Costo,Horario Limite Carga,Horario de cobro,observaciones,month
0,156075,659948,41419090,782.52,782.52,782.52,08/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0
1,156075,662194,41419085,313.01,313.01,313.01,07/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0
2,156075,677365,41419075,2826.13,2826.13,2826.13,09/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0
3,156075,681542,41419078,2561.45,2561.45,2561.45,06/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0
4,156075,686356,41419086,1280.64,1280.64,1280.64,06/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44896,162150,754406,44253987,971.65,971.65,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN
44897,162150,754512,44254063,929.42,929.42,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN
44898,162150,754605,44253985,629.23,629.23,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN
44899,162150,755017,44254031,693.62,693.62,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN
44900,162150,755255,44254070,752.15,752.15,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN

In [150]:
dfSSummary = dfS2024Cost.groupby(["month", "idRespuestaBanco"], as_index=False).agg({
    "montoExigible": "sum",
    "montoCobrar": 'sum',
    'montoCobrado': 'sum', 
    "count":"count",
    "Costo":"sum",
    "month":"first",
})
dfSSummary

,idRespuestaBanco,montoExigible,montoCobrar,montoCobrado,count,Costo,month
0,0.0,94555.26,94555.26,94555.26,109,307.38,1.0
1,4.0,112546.75,112546.75,0.00,177,419.49,1.0
2,0.0,102472.02,102472.02,102472.02,60,169.20,2.0
3,2.0,3512.00,3512.00,0.00,3,7.11,2.0
4,4.0,149680.99,149680.99,0.00,228,540.36,2.0
5,0.0,94944.98,94944.98,94944.98,75,211.50,3.0
6,2.0,1756.00,1756.00,0.00,1,2.37,3.0
7,4.0,108973.71,108973.71,0.00,141,334.17,3.0
8,0.0,12244.92,12244.92,12244.92,4,11.28,4.0
9,4.0,7148.69,7148.69,0.00,10,23.70,4.0
10,0.0,45507.03,45507.03,45507.03,53,149.46,5.0
11,3.0,591.68,591.68,0.00,1,2.37,5.0
12,4.0,132149.03,132149.03,0.00,188,445.56,5.0
13,0.0,83332.12,83332.12,83332.12,48,135.36,6.0
14,4.0,43650.16,43650.16,0.00,44,104.28,6.0
15,0.0,2118.65,2118.65,2118.65,2,5.64,7.0
16,4.0,8124.33,8124.33,0.00,8,18.96,7.0
17,0.0,71670.46,71670.46,71670.46,63,177.66,8.0
18,4.0,77209.25,77209.25,0.00,184,436.08,8.0
19,8.0,878.00,878.00,0.00,3,7.11,8.0
20,0.0,292.67,292.67,292.67,1,2.82,9.0
21,4.0,22412.26,22412.26,0.00,44,104.28,9.0
22,8.0,439.00,439.00,0.00,1,2.37,9.0
23,0.0,2301406.13,2301406.13,2301406.13,3266,9210.12,10.0
24,2.0,82696.53,82696.53,0.00,66,156.42,10.0
25,3.0,556.10,556.10,0.00,1,2.37,10.0
26,4.0,2711276.00,2711276.00,0.00,4814,11409.18,10.0
27,8.0,29744.21,29744.21,0.00,36,85.32,10.0
28,13.0,291.81,291.81,0.00,1,2.37,10.0
29,0.0,2430639.83,2430639.83,2430639.83,3278,9243.96,11.0
30,2.0,33260.29,33260.29,0.00,44,104.28,11.0
31,3.0,6203.25,6203.25,0.00,11,26.07,11.0
32,4.0,2405561.64,2405561.64,0.00,4723,11193.51,11.0
33,8.0,28804.40,28804.40,0.00,47,111.39,11.0
34,0.0,1491504.47,1491504.47,1491504.47,2015,5682.30,12.0
35,2.0,28596.20,28596.20,0.00,36,85.32,12.0
36,3.0,5376.93,5376.93,0.00,8,18.96,12.0
37,4.0,1860870.12,1860870.12,0.00,3366,7977.42,12.0
38,8.0,9421.19,9421.19,0.00,21,49.77,12.0

In [151]:
dfSSummary["Costo"].sum()

np.float64(58977.26999999998)

In [152]:
dfBBVASummary["Costo"].sum()

np.float64(106882.0)

In [153]:
dfBanorteSummary["Costo"].sum()

np.float64(98920.0)

In [154]:
dfBanamexSummary["Costo"].sum()

np.float64(301465.5)

In [155]:
a = dfS2024Cost.groupby(["idRespuestaBanco", "idEmisora"]).agg({"count":"count"})
a

                            count
idRespuestaBanco idEmisora
0.0              9          15529
                 10          1255
2.0              9             95
                 10            83
3.0              9             65
                 10             4
4.0              9          23549
                 10          3901
8.0              9            204
                 10            13
10.0             10             1
13.0             9            202

In [156]:
a = dfBanorte2024Cost.groupby(["idRespuestaBanco", "idEmisora"]).agg({"count":"count"})
a

                            count
idRespuestaBanco idEmisora
0.0              12         23005
                 13           640
                 15             4
1.0              12             9
2.0              12             7
3.0              12           182
                 13             4
4.0              12         41917
                 13          5308
                 15             2
26.0             12          1026
                 13            48
30.0             12            82
88.0             12             6

In [157]:
a = dfBanamex2024Cost.groupby(["idRespuestaBanco", "idEmisora"]).agg({"count":"count"})
a

                             count
idRespuestaBanco idEmisora
0.0              1            5503
                 2             142
                 5           10084
1.0              1               6
                 2               1
2.0              1              44
                 2              18
                 5             217
3.0              1              32
                 2               5
                 5             130
4.0              1          280466
                 2            8338
                 5          499709
8.0              1             170
                 5             139

In [158]:
a = dfBBVA2024Cost.groupby(["idRespuestaBanco", "idEmisora"]).agg({"count":"count"})
a

                             count
idRespuestaBanco idEmisora
0.0              6            4015
                 17          17510
                 18            286
                 19            214
                 20              2
                 21           6453
                 22            139
                 25           4253
1.0              6              35
                 25             92
2.0              6              18
                 21             18
                 25             69
3.0              6              21
                 17            100
                 21            140
                 25             16
4.0              6          663549
                 17          48254
                 18           2266
                 19           1654
                 20             41
                 21         415663
                 22           5164
                 25          11127
6.0              25              1
8.0              6            1178
                 25            989
10.0             17              2
                 25              1
13.0             17           5872
                 18             22
36.0             6               9
                 25              2
40.0             6              18
                 25              4

In [159]:
efectividadGlobal = pd.read_csv("C:\\Users\\jimen\\Documents\\Credifiel\\ExtraccionDomiVersionFinal\\efectividad_global_creditos.csv")
efectividadGlobal = efectividadGlobal.drop(columns={"montoExigible", "consecutivoCobro", "montoCobrado"})
efectividadGlobal

,idCredito,Capital Inicial,Pagaré,porcentaje_cobrado_total,porcentaje_exigible_total,diferencia_pagare_capital
0,610522,15576.0,31917.60,0.000000,1195.339047,16341.60
1,610562,12941.0,26342.88,0.000000,3617.043737,13401.88
2,610671,10000.0,20491.68,8.538200,8.538200,10491.68
3,610686,14901.0,30332.64,9.537011,18.541440,15431.64
4,610741,15222.0,30985.92,4.240836,131.465905,15763.92
...,...,...,...,...,...,...
12172,739176,26886.0,75538.56,5.853307,5.853307,48652.56
12173,739185,37080.0,104179.92,0.000000,35.119984,67099.92
12174,739199,10000.0,28096.08,11.706700,11.706700,18096.08
12175,739220,70000.0,196671.80,5.403071,5.403071,126671.80
12176,739445,70000.0,196671.80,0.000000,32.418429,126671.80

In [160]:
dfS2024Cost

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,idEmisora,count,Nombre,Emisora,TipoEnvio,Costo,Horario Limite Carga,Horario de cobro,observaciones,month
0,156075,659948,41419090,782.52,782.52,782.52,08/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0
1,156075,662194,41419085,313.01,313.01,313.01,07/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0
2,156075,677365,41419075,2826.13,2826.13,2826.13,09/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0
3,156075,681542,41419078,2561.45,2561.45,2561.45,06/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0
4,156075,686356,41419086,1280.64,1280.64,1280.64,06/01/2025,0.0,06/01/2025 9:29AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44896,162150,754406,44253987,971.65,971.65,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN
44897,162150,754512,44254063,929.42,929.42,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN
44898,162150,754605,44253985,629.23,629.23,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN
44899,162150,755017,44254031,693.62,693.62,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN
44900,162150,755255,44254070,752.15,752.15,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,9,1,SANTANDER CLABE TRADICIONAL,00623,TRADICIONAL,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN

In [161]:
dfS2024CostF = dfS2024Cost.merge(efectividadGlobal, on="idCredito", how="left")
dfS2024CostF

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,Costo,Horario Limite Carga,Horario de cobro,observaciones,month,Capital Inicial,Pagaré,porcentaje_cobrado_total,porcentaje_exigible_total,diferencia_pagare_capital
0,156075,659948,41419090,782.52,782.52,782.52,08/01/2025,0.0,06/01/2025 9:29AM,14,...,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0,20000.0,40691.04,103.683900,103.683900,20691.04
1,156075,662194,41419085,313.01,313.01,313.01,07/01/2025,0.0,06/01/2025 9:29AM,14,...,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0,8000.0,16276.52,89.990625,115.422750,8276.52
2,156075,677365,41419075,2826.13,2826.13,2826.13,09/01/2025,0.0,06/01/2025 9:29AM,14,...,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0,33100.0,67827.12,85.381571,115.265136,34727.12
3,156075,681542,41419078,2561.45,2561.45,2561.45,06/01/2025,0.0,06/01/2025 9:29AM,14,...,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0,30000.0,61474.80,102.458000,110.996167,31474.80
4,156075,686356,41419086,1280.64,1280.64,1280.64,06/01/2025,0.0,06/01/2025 9:29AM,14,...,2.82,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,6.0,14999.0,30735.36,110.996200,110.996200,15736.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44896,162150,754406,44253987,971.65,971.65,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN,NaN,NaN,NaN,NaN,NaN
44897,162150,754512,44254063,929.42,929.42,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN,NaN,NaN,NaN,NaN,NaN
44898,162150,754605,44253985,629.23,629.23,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN,NaN,NaN,NaN,NaN,NaN
44899,162150,755017,44254031,693.62,693.62,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN,NaN,NaN,NaN,NaN,NaN
44900,162150,755255,44254070,752.15,752.15,0.00,NaN,13.0,19/05/2025 10:12AM,14,...,2.37,6:40 - 17:40,"7:00, 9:00, 10:00, 13:00, 15:00, 18:00",7 días,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
dfS2024CostF = dfS2024CostF.dropna()

In [163]:
dfBBVA2024CostF = dfBBVA2024Cost.merge(efectividadGlobal, on="idCredito", how="left")
dfBBVA2024CostF = dfBBVA2024CostF.dropna()
dfBBVA2024CostF

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,Costo,Horario Limite Carga,Horario de cobro,observaciones,month,Capital Inicial,Pagaré,porcentaje_cobrado_total,porcentaje_exigible_total,diferencia_pagare_capital
1,155950,661415,41397842,391.26,391.26,391.26,02/01/2025,0.0,02/01/2025 8:54AM,12,...,4.0,6:00 - 20:15,6:00 - 20:15,30 min,2.0,20000.0,40691.04,31.339900,1500.051300,20691.04
10,156013,684952,41405235,586.89,586.89,586.89,06/01/2025,0.0,02/01/2025 3:16PM,12,...,8.0,8:00 - 15:30,3:00,6 days,2.0,30000.0,61036.56,84.120900,1065.205400,31036.56
11,156013,725741,41405309,1891.08,1891.08,1891.08,03/01/2025,0.0,02/01/2025 3:16PM,12,...,8.0,8:00 - 15:30,3:00,6 days,2.0,70000.0,196671.80,21.612286,175.599857,126671.80
12,156044,647190,41413073,1260.76,1260.76,1260.76,06/01/2025,0.0,03/01/2025 10:49AM,12,...,8.0,8:00 - 15:30,3:30,6 days,3.0,29729.0,60516.48,99.659793,1969.871237,30787.48
13,156044,651123,41413024,610.51,610.51,610.51,06/01/2025,0.0,03/01/2025 10:49AM,12,...,8.0,8:00 - 15:30,3:30,6 days,3.0,14396.0,29304.48,91.177897,1916.856627,14908.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31582,161817,738825,44118178,844.43,844.43,844.43,14/05/2025,0.0,12/05/2025 3:17PM,12,...,8.0,8:00 - 15:30,3:00,6 days,12.0,28853.0,81065.28,5.853325,40.973278,52212.28
31583,161817,738825,44118179,506.66,506.66,506.66,14/05/2025,0.0,12/05/2025 3:17PM,12,...,8.0,8:00 - 15:30,3:00,6 days,12.0,28853.0,81065.28,5.853325,40.973278,52212.28
31584,161817,738825,44120756,337.77,337.77,337.77,14/05/2025,0.0,12/05/2025 3:17PM,12,...,8.0,8:00 - 15:30,3:00,6 days,12.0,28853.0,81065.28,5.853325,40.973278,52212.28
31587,161818,661899,44121654,94.09,94.09,94.09,13/05/2025,0.0,12/05/2025 3:21PM,12,...,8.0,8:00 - 15:30,3:00,6 days,12.0,11093.0,22581.12,33.926981,2914.754079,11488.12
31588,161818,661899,44121686,141.13,141.13,141.13,13/05/2025,0.0,12/05/2025 3:21PM,12,...,8.0,8:00 - 15:30,3:00,6 days,12.0,11093.0,22581.12,33.926981,2914.754079,11488.12

In [164]:
dfBanamex2024CostF = dfBanamex2024Cost.merge(efectividadGlobal, on="idCredito", how="left")
dfBanamex2024CostF = dfBanamex2024CostF.dropna()
dfBanamex2024CostF

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,Costo,Horario Limite Carga,Horario de cobro,observaciones,month,Capital Inicial,Pagaré,porcentaje_cobrado_total,porcentaje_exigible_total,diferencia_pagare_capital
2,155939,739185,41396436,4340.83,4340.83,4340.83,02/01/2025,0.0,02/01/2025 6:11AM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,2.0,37080.0,104179.92,0.000000,35.119984,67099.92
1223,156072,649014,41419037,2684.72,2684.72,2684.72,06/01/2025,0.0,06/01/2025 9:27AM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,6.0,68617.0,139605.44,107.596951,780.566973,70988.44
1226,156072,679235,41419029,1280.64,1280.64,1280.64,06/01/2025,0.0,06/01/2025 9:27AM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,6.0,14999.0,30735.36,102.458031,708.668045,15736.36
1227,156072,679611,41419030,1280.72,1280.72,1280.72,06/01/2025,0.0,06/01/2025 9:27AM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,6.0,15000.0,30737.28,102.457600,623.283733,15737.28
1230,156072,681326,41419016,2134.54,2134.54,2134.54,06/01/2025,0.0,06/01/2025 9:27AM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,6.0,25000.0,51228.96,102.457920,708.667280,26228.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747791,161812,737209,44114592,3853.65,3853.65,3853.65,12/05/2025,0.0,12/05/2025 1:54PM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,12.0,65837.0,184975.20,5.853320,5.853320,119138.20
749053,161813,711537,44115854,251.12,251.12,251.12,12/05/2025,0.0,12/05/2025 1:55PM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,12.0,14301.0,40179.84,40.973079,2808.119222,25878.84
749054,161813,711537,44115855,418.54,418.54,418.54,12/05/2025,0.0,12/05/2025 1:55PM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,12.0,14301.0,40179.84,40.973079,2808.119222,25878.84
749055,161813,711537,44115856,167.42,167.42,167.42,12/05/2025,0.0,12/05/2025 1:55PM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,12.0,14301.0,40179.84,40.973079,2808.119222,25878.84
749795,161814,731106,44116596,535.29,535.29,535.29,12/05/2025,0.0,12/05/2025 2:48PM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,12.0,9145.0,25693.92,23.413450,310.228212,16548.92

In [165]:
dfBanorte2024CostF = dfBanorte2024Cost.merge(efectividadGlobal, on="idCredito", how="left")
dfBanorte2024CostF = dfBanorte2024CostF.dropna()
dfBanorte2024CostF

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,Costo,Horario Limite Carga,Horario de cobro,observaciones,month,Capital Inicial,Pagaré,porcentaje_cobrado_total,porcentaje_exigible_total,diferencia_pagare_capital
5,156037,644994,41406205,595.76,595.76,595.76,04/01/2025,0.0,03/01/2025 9:44AM,72,...,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,3.0,28096.0,57192.48,97.539614,101.780467,29096.48
6,156037,645571,41406345,143.43,143.43,143.43,10/01/2025,0.0,03/01/2025 9:44AM,72,...,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,3.0,6764.0,13768.80,97.539178,108.141336,7004.80
7,156037,647112,41406320,657.33,657.33,657.33,10/01/2025,0.0,03/01/2025 9:44AM,72,...,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,3.0,31000.0,63103.68,93.298452,129.345581,32103.68
8,156037,647211,41406479,560.54,560.54,560.54,10/01/2025,0.0,03/01/2025 9:44AM,72,...,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,3.0,26435.0,53811.36,89.054435,116.577568,27376.36
9,156037,647539,41406333,695.25,695.25,695.25,03/01/2025,0.0,03/01/2025 9:44AM,72,...,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,3.0,32788.0,66743.52,103.902281,108.143132,33955.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69494,161742,654046,44071562,254.45,254.45,254.45,12/05/2025,0.0,12/05/2025 5:21AM,72,...,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,12.0,20000.0,40712.16,63.188900,174.299650,20712.16
69502,161742,655268,44071676,174.26,174.26,174.26,12/05/2025,0.0,12/05/2025 5:21AM,72,...,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,12.0,24500.0,49872.48,119.168367,145.064571,25372.48
69512,161742,657534,44071421,374.04,374.04,374.04,12/05/2025,0.0,12/05/2025 5:21AM,72,...,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,12.0,44100.0,89770.08,63.188594,174.298776,45670.08
69513,161742,657534,44071422,561.06,561.06,561.06,12/05/2025,0.0,12/05/2025 5:21AM,72,...,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,12.0,44100.0,89770.08,63.188594,174.298776,45670.08
69514,161742,657534,44071423,935.11,935.11,935.11,12/05/2025,0.0,12/05/2025 5:21AM,72,...,2.5,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,12.0,44100.0,89770.08,63.188594,174.298776,45670.08

In [166]:
dfBB2024CostF.columns

Index(['idListaCobro', 'idCredito', 'consecutivoCobro', 'montoExigible',
       'montoCobrar', 'montoCobrado', 'fechaCobroBanco', 'idRespuestaBanco',
       'fechaCreacionLista', 'idBanco', 'fechaEnvioCobro', 'idEmisora',
       'count', 'Nombre', 'Emisora', 'TipoEnvio', 'Costo',
       'Horario Limite Carga', 'Horario de cobro', 'observaciones', 'month',
       'Capital Inicial', 'Pagaré', 'porcentaje_cobrado_total',
       'porcentaje_exigible_total', 'diferencia_pagare_capital'],
      dtype='object')

In [167]:
dfBanorte2024CostF["Emisora"].unique()

array(['00496', '00639'], dtype=object)

In [177]:
df2024CostF1 = pd.concat([dfBanorte2024CostF, dfS2024CostF], ignore_index=True)
df2024CostF2 = pd.concat([dfBBVA2024CostF, dfBanamex2024CostF], ignore_index=True)

In [178]:
df2024CostF = pd.concat([df2024CostF1, df2024CostF2], ignore_index=True)
df2024CostF =df2024CostF.drop(columns={"count", "Nombre", "Emisora", "TipoEnvio"})
df2024CostF

,idListaCobro,idCredito,consecutivoCobro,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco,fechaCreacionLista,idBanco,...,Costo,Horario Limite Carga,Horario de cobro,observaciones,month,Capital Inicial,Pagaré,porcentaje_cobrado_total,porcentaje_exigible_total,diferencia_pagare_capital
0,156037,644994,41406205,595.76,595.76,595.76,04/01/2025,0.0,03/01/2025 9:44AM,72,...,2.50,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,3.0,28096.0,57192.48,97.539614,101.780467,29096.48
1,156037,645571,41406345,143.43,143.43,143.43,10/01/2025,0.0,03/01/2025 9:44AM,72,...,2.50,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,3.0,6764.0,13768.80,97.539178,108.141336,7004.80
2,156037,647112,41406320,657.33,657.33,657.33,10/01/2025,0.0,03/01/2025 9:44AM,72,...,2.50,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,3.0,31000.0,63103.68,93.298452,129.345581,32103.68
3,156037,647211,41406479,560.54,560.54,560.54,10/01/2025,0.0,03/01/2025 9:44AM,72,...,2.50,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,3.0,26435.0,53811.36,89.054435,116.577568,27376.36
4,156037,647539,41406333,695.25,695.25,695.25,03/01/2025,0.0,03/01/2025 9:44AM,72,...,2.50,3:00 - 17:30,"6:00, 12:00, 18:00, 22:00",8 days,3.0,32788.0,66743.52,103.902281,108.143132,33955.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27246,161812,737209,44114592,3853.65,3853.65,3853.65,12/05/2025,0.0,12/05/2025 1:54PM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,12.0,65837.0,184975.20,5.853320,5.853320,119138.20
27247,161813,711537,44115854,251.12,251.12,251.12,12/05/2025,0.0,12/05/2025 1:55PM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,12.0,14301.0,40179.84,40.973079,2808.119222,25878.84
27248,161813,711537,44115855,418.54,418.54,418.54,12/05/2025,0.0,12/05/2025 1:55PM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,12.0,14301.0,40179.84,40.973079,2808.119222,25878.84
27249,161813,711537,44115856,167.42,167.42,167.42,12/05/2025,0.0,12/05/2025 1:55PM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,12.0,14301.0,40179.84,40.973079,2808.119222,25878.84
27250,161814,731106,44116596,535.29,535.29,535.29,12/05/2025,0.0,12/05/2025 2:48PM,2,...,1.75,8:00 - 14:59,8:00 - 15:00,30 min,12.0,9145.0,25693.92,23.413450,310.228212,16548.92

In [179]:
df2024CostF.to_csv("datos.csv")

In [180]:
df2024CostF.columns

Index(['idListaCobro', 'idCredito', 'consecutivoCobro', 'montoExigible',
       'montoCobrar', 'montoCobrado', 'fechaCobroBanco', 'idRespuestaBanco',
       'fechaCreacionLista', 'idBanco', 'fechaEnvioCobro', 'idEmisora',
       'Costo', 'Horario Limite Carga', 'Horario de cobro', 'observaciones',
       'month', 'Capital Inicial', 'Pagaré', 'porcentaje_cobrado_total',
       'porcentaje_exigible_total', 'diferencia_pagare_capital'],
      dtype='object')